<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings>  
      <clear />  
      <add name="devServer"
       providerName="System.Data.ProviderName"
       connectionString="Data Source=192.168.1.115;Initial Catalog=compania;User ID=ITdemetech;password=ITdemetech2019!" />  
    </connectionStrings>  </configuration>