<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings>
    <clear />
    <add name="devServer" connectionString="Data Source=192.168.1.115;Initial Catalog=compania;User ID=ITdemetech;password=ITdemetech2019!"
        providerName="System.Data.ProviderName" />
    <add name="UploadTest.My.MySettings.ConnectionStringDB" connectionString="Provider=SQLNCLI11;Data Source=192.168.1.115;Persist Security Info=True;Password=ITdemetech2019!;User ID=ITdemetech;Initial Catalog=Compania"
        providerName="System.Data.OleDb" />
    <add name="UploadTest.My.MySettings.CompaniaConnectionString"
        connectionString="Data Source=192.168.1.115;Initial Catalog=Compania;User ID=ITdemetech;Password=ITdemetech2019!"
        providerName="System.Data.SqlClient" />
</connectionStrings>  </configuration>